
.boxcenter {
    display: flex;
    height: 80px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px auto;
    border: solid #c2c2c2 1px;
    background-color: #eb9596;
    color: #FFF;
    border-radius: 10px 10px;
}